@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
      font-family: "Montserrat", sans-serif;
}

.swiper-pagination {
  bottom: 30px !important;
}
@media (max-width: 640px) {
  .swiper-pagination {
    display: none !important;
  }
}


.swiper-pagination-bullet {
  width: 62px;
  height: 10px;
  border-radius: 0;
  opacity: 0.6;
  background-color: white;
  margin: 0 1px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-button-next,.swiper-button-prev{
    color:white;
    font-size: 24px;

   
}

.swiper-thumb-slide {
  width: 105px !important;
  margin-right: 75px !important;
  border: none !important;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.swiper-thumb-slide.swiper-slide-thumb-active {
  opacity: 1;
}


